[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mssql-django = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
django-cors-headers = "*"
sentry-sdk = {extras = ["django"], version = "*"}
drf-spectacular = "*"
dj-rest-auth = "==6.0.0"
rich = "*"
itsdangerous = "*"
django-redis = "*"
django-storages = "*"
whitenoise = "*"
django-allauth = "*"
requests = "*"
cryptography = "*"
resend = "*"
google-auth = "*"
django-filter = "*"
psycopg = {extras = ["binary"], version = "*"}
python-decouple = "*"
mkdocs-material = "*"

[dev-packages]

[requires]
python_version = "3.14"

[scripts]
r = "python manage.py runserver"
mi = "python manage.py migrate"
mk = "python manage.py makemigrations"
su = "python manage.py createsuperuser"
sh = "python manage.py shell"
test = "python manage.py test"
st= "python manage.py startapp"
clearsessions = "python manage.py clearsessions"
install-dev = "pipenv install --dev django-extensions"
django = "python manage.py"
